// Specific CSS for your home-page
.titre {
  color: green;
  font-size: 36px;
  padding-top: 20px;
}

.search-form-btn, .btn {
  // position: absolute;
  // top: 8px;
  // bottom: 8px;
  // right: -90px;
}
