
.notification-actions{
  display: block;
  margin: auto;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}


.carousel-item active {
  object-fit: cover;
  object-position: center;
  height: 20vh;
}

.titremomo {
  font-size: 32px;
  text-align: center;
}


.profilepicture {
  overflow: hidden;
  height: 12vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  object-fit: cover;
  object-position: center;
  height: 12vh;
  border-radius: 50px;
  padding: auto;
}

.profileinfos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.profileinfos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.profilepicture .profileinfos {
  padding: 16px;
}

.btn, .btn-book {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: green;
  transition: background 0.3s ease;
  position: bottom;
}

.btn, .btn-price {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: green;
  transition: background 0.3s ease;
  object-position: center;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}

.carousel-inner {
  background-image: url("https://source.unsplash.com/random/?tent");
  background-position: center;
  background-size: cover;
  height: 20vh;
  display: inline-grid;
  align-content: space-between;
}

a .edit {
  margin-left: 200px;
  margin-top: 20px;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.options-list {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.options-list  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.option-list p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.option-list {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.option-list  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.option-list p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.reviews {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.reviews h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.reviews p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.option-list {
  padding: 16px;
}

.reviews{
  padding: 16px;
}
