<div class="footer footer-lewagon">
  <div class="footer-links footer-lewagon footer-collapse d-flex justify-content-around">
    <%= link_to "", root_path, class: "fa-solid fa-house", style: "color: #57973f" %>
    <%= link_to "", root_path, class: "fa-solid fa-plus", style: "color: #57973f" %>
    <%= link_to "", root_path, class: "fa-solid fa-user", style: "color: #57973f" %>
  </div>
  <div class="footer-copyright">
  </div>
</div>
