<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook">Accueil</i></a>
    <a href="#"><i class="fa-solid fa-plus" style="color: #257447;"></i></a>
    <a href="#"><i class=""></i>Profil</a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
