Calendar
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

.calendar h1 {
font-family: 'Outfit', sans-serif;
font-size: 25px;
}

.box {
display: flex;
justify-content: flex-start;
}

.one {
  flex: 1 1 auto;
}

.two {
  flex: 1 1 auto;
}

.three {
  flex: 1 1 auto;
}
