// Specific CSS for your home-page
.titre {
  color: green;
  font-size: 36px;
  padding-top: 20px;
}

.search-form-control .btn {
  // position: absolute;
  // top: 8px;
  // bottom: 8px;
  // right: -90px;
  margin: 0;
}

.right-btn {
  margin-right: 0;
}

.btn-ghost {
  color: green;
  border: 1px solid #4A4A4A;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 130px;
}

.btn-ghost:hover {
  opacity: 1;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.btn-ghost-v {
  color: green;
  border: 1px solid #4A4A4A;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 130px;
  margin-top: auto;
  margin-left: 100px;
}

.search {
  width: 100%;
}

.fas {
  position: absolute;
  top: 0;
  transform: translateY(20%);
  right: 0;
}
