
.notification-actions{
  display: block;
  margin: auto;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

h1{
  font-family: 'Outfit', sans-serif;
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #34895d;
  transition: background 0.3s ease;
}

.carousel-item active {
  object-fit: cover;
  object-position: center;
  height: 20vh;
}

.titremomo {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.profilepicture {
  overflow: hidden;
  height: 12vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  object-fit: cover;
  object-position: center;
  height: 12vh;
  border-radius: 50px;
  padding: auto;
  font-family: 'Outfit', sans-serif;
}

.profileinfos h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.profileinfos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 30px;
  font-family: 'Outfit', sans-serif;
}

.profilepicture .profileinfos {
  padding: 16px;
}

.btn.btn-book {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  background: green;
  object-position: center;
  display: block;
  object-position: center;
  margin-top: -16px;
}

.btn.btn-price {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  background: green;
  object-position: center;
  display: block;
  object-position: center;
  margin-top: 130px;
  opacity: 80%;
}


.carousel-inner {
  background-image: url("https://source.unsplash.com/random/?tent");
  background-position: center;
  background-size: cover;
  height: 20vh;
  display: inline-grid;
  align-content: space-between;
  border-radius: 20px;
}

.bouton {
  margin-left: 200px;
  margin-top: 20px;
  display: contents;
  text-decoration: auto;
}

a {
  display: contents;
  text-decoration: auto;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.label {
  padding-right: 10px;
  align-items: center;
  margin: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  align-items: center;
}

.options {
  overflow: hidden;
  height: 12vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  object-fit: cover;
  object-position: center;
  height: 12vh;
  border-radius: 50px;
  padding: auto;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: Arial;
  margin: 20px;
}

select {
  margin-right: 50px;
}

.rev {
text-align: center;
}

#options {
margin-left: 44px;
font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

label {
  margin: 30px;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  margin-bottom: 80px;
}

.heading {
  font-size: 18px;
  margin-right: 25px;

}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

.user {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.user img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.user h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.user p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.user .user-infos {
  padding: 16px;
}

.reviewss {
  margin: 10px;
  text-align: center;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.rev {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: block;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  padding: 5px;
}

.strong {
  position: center;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  margin-bottom: 20px;
}
